
<link rel="navbar" href="/static/navbar.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">

<style>
    .page-footer{
        background-color: #fdd827;
    }

    
    #CLink2{
      font-size: calc(1.1em + 1vmin);
      color: #007bff;
    }
  
    .btn:hover {
      background-color: #007bff;
    }
    .fa-instagram-square{
      color: black;
      padding-left: 3%;
    }

    .fa-google-plus-square{
      color: #D50F25;
      padding-left: 3%;
    }


</style>

<!-- Footer -->
<!-- Footer -->
<footer class="page-footer font-small blue pt-3 text-center ">

  <a href="https://www.facebook.com/One-Way-Driving-School-566967963313287/" id="buttonlogo" target="_blank" class="fab fa-facebook-square fa-6x" role="button"></a>

  <a href="https://www.instagram.com/onewaydriving_school/" id="buttonlogo" target="_blank" class="fab fa-instagram-square fa-6x" role="button"></a>

  <a href="https://www.google.com/search?rlz=1C1ONGR_en-GBAU951AU951&sxsrf=AOaemvL2TD4ELkO7rfwrYxhMwtNtLaTMtQ:1639213074196&q=one+way+driving&spell=1&sa=X&ved=2ahUKEwiA9v3HsNv0AhVqh1YBHVxqC9gQBSgAegQIARAx&biw=1920&bih=969&dpr=1" id="buttonlogo" target="_blank" class="fab fa-google-plus-square fa-6x" role="button"></a>

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3" style="font-size: calc(1.1em + 1vmin);">© 2021 Copyright:
    <a href="http://onewaydrivingschool.com.au/"> onewaydrivingschool.com</a>
  </div>
  <!-- Copyright -->
  
</footer>
  <!-- Footer -->