<style>
  .navbar {
    background-color: #fdd827;
    font-family:Verdana !important;
    font-size: calc(20% + 1vw + 1vh);
  }

  nav li {
    display: inline-block;
    height: 10%;
    padding: 1px;
    margin-right: 10%;
  }

  #CLink1{
    color: black;
    font-size: calc(1.2em + 1vmin);
    font-weight: 500;
  }

  #CLink1:hover{
    color: rgba(0, 0, 0, 0.5);
  }

  .navbar-nav {
    float:none;
    margin-left: 12%;
    display: block;
    text-align: center;
  }

  .navbar .collapsing {
    margin-right: 10%;
  }

  .navbar .collapse.show {
    margin-right: 10%;
  }
  
  .container{
    text-align: center;
  }




  </style>


<nav class="navbar fixed-top navbar-expand-lg navbar-light">

  <a class="navbar-brand pull-left" href="/#">
    <img class="img-responsive" style="text-align:center; border-radius: 10px;" src="logo.png" width="400px" height="150px" alt="One Way Driving School">  
  </a> 

  <button class="navbar-toggler" style="border-radius: 3px; border-color: black;" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon" style=" width: 5rem; height: 5rem;"></span>
  </button>

  <div class="container">

    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav navbar-center">

        <li class="nav-item">
          <a id="CLink1" class="nav-link" href="/about-us">About Us</a>
        </li>
        <li class="nav-item">
          <a id="CLink1" class="nav-link" href="/services">Services</a>
        </li>

        <li class="nav-item">
          <a id="CLink1" class="nav-link" href="/parent-info">Parent Information</a>
        </li>
        <li class="nav-item">
          <a id="CLink1" class="nav-link" href="/faq">FAQ</a>
        </li>
        <li class="nav-item">
          <a id="CLink1" class="nav-link" href="/pricing">Pricing</a>
        </li>
        <li class="nav-item">
          <a id="CLink1" class="nav-link" href="/contact">Contact</a>
        </li>
        
        
      </ul>
    </div>
    
  </div>
</nav>