<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  <link rel="stylesheet" type="text/css" href="main.css" />




  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

  <!-- Popper JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

  <script type="text/javascript">
    var image1 = new Image()
    image1.src = "Car-back.jpg"
    var image2 = new Image()
    image2.src = "Car-front.jpg"
  </script>

  <style>

  </style>

  <%- include('../partials/head'); %>
</head>


<header>
  <%- include('../partials/header'); %>
</header>


<body style="background-color:black;">

  <main>



    <div class="jumbotron mycustom-jumbotron text-center mx-auto" style="position:relative; margin-top: 155px;">
      <h1 style="font-size: calc(3em + 1vmin); font-weight: bold;">
        About Us
      </h1>

      <p style="font-size: calc(2em + 1vmin);text-align: justify; text-justify: inter-word;">
        <br>
        It’s not just about passing a driving test. One Way Driving School’s professionally structured driving lessons
        will teach you to look beyond the basics of driving and offer a broader understanding of how to survive on
        today’s roads.
        <br>
        <br>
        At One Way Driving School, we believe that all drivers are not created equally, therefore we have built a
        driving school whose main focus is to provide driving lessons tailored to suit your individual needs.
        <br>
        <br>
        We teach students, not only the skills needed to pass their practical driving assessment, but to become safe,
        courteous, responsible and economical drivers.
        <br>
        <br>
        If you want to learn how to drive and pass your practical VORT driving assessment, book a lesson with One Way
        Driving School today.
      </p>


      <h1 style="font-size: calc(3em + 1vmin); font-weight: bold;">
        <br>
        About the Car
      </h1>

      <div class="item1" style="padding-top: 20px;">
        <img class="img-responsive mycustom-jumbotron" name=slide style="text-align:center; height: 900px; width: auto;"
          src="services1.jpg">
      </div>

      <script>
        //variable that will increment through the images
        var step = 1
        function slideit() {
          //if browser does not support the image object, exit.
          if (!document.images)
            return
          document.images.slide.src = eval("image" + step + ".src")
          if (step < 2)
            step++
          else
            step = 1
          //call function "slideit()"every 5 seconds
          setTimeout("slideit()", 5000)
        }
        slideit()
      </script>

      <p style="font-size: calc(2em + 1vmin);text-align: justify; text-justify: inter-word;">
        The vehicle you will be driving is a 5-star ANCAP saftey rated, automatic, Kia Cerato Spo. The vehicle is fitted
        with dual brake control for extra saftey.
      </p>



    </div>



  </main>


  <footer>
    <%- include('../partials/footer'); %>
  </footer>

</body>

</html>