<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  <link rel="stylesheet" type="text/css" href="main.css" />




  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

  <!-- Popper JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

  <style>

  </style>

  <%- include('../partials/head'); %>
</head>


<header>
  <%- include('../partials/header'); %>
</header>


<body style="background-color:black;">

  <main>



    <div id="customjumbotron" class="jumbotron mycustom-jumbotron text-center mx-auto"
      style="position:relative; margin-top: 155px; padding-top: 25px;">
      <h1 style="font-size: calc(3em + 1vmin); font-weight: bold;">
        Contact Infomation
      </h1>

      <p style="font-size: calc(2em + 1vmin);text-align: justify; text-justify: inter-word; text-align: center;">
        <img class="img-responsive mycustom-jumbotron" style="text-align:center; height: 100%; width: 100%;"
          src="https://onewaydriving.s3.ap-southeast-2.amazonaws.com/Onewaydriving+-+Copy/public/businesscard.jpg">
        <b>Mobile: </b>
        <br>
        <u>0404 886 153</u>
        <br>
        <b>Email: </b>
        <br>
        <u>gene@onewaydrivingschool.com.au</u>
      </p>
      </p>
    </div>



  </main>


  <footer>
    <%- include('../partials/footer'); %>
  </footer>

</body>

</html>