<!DOCTYPE html>
<html lang="en">
<head>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<link rel="stylesheet" type="text/css" href="main.css"/>




<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<style>

</style>

  <%- include('../partials/head'); %>
</head>


<header>
  <%- include('../partials/header'); %>
</header>


<body style="background-color:black;">

<main>



  <div id="customjumbotron" class="jumbotron mycustom-jumbotron text-center mx-auto" style="position:relative; margin-top: 155px;">
    <h1 style="font-size: calc(3em + 1vmin); font-weight: 900;">
      Frequently Asked Questions
    </h1>






    <h2 style="font-size: calc(2.25em + 1vmin); font-weight: lighter; margin: 0; font-weight: bold; ">
      <br>
      <i>When should I organise professional driver training?</i>
    </h2>

    <p style="font-size: calc(2em + 1vmin);text-align: justify; text-justify: inter-word;">
      It’s natural to be anxious about this new phase of your child’s life. There are plenty of media reports about crashes involving young people, and you might worry about the high risk of danger when young people get behind the wheel.
    </p>



    <h2 style="font-size: calc(2.25em + 1vmin); font-weight: lighter; margin: 0; font-weight: bold; ">
      <br>
      <i>What will I need for my first lesson?</i>
    </h2>

    <p style="font-size: calc(2em + 1vmin);text-align: justify; text-justify: inter-word;">
      You will need to bring a learners permit with you to all of your lessons, as well as your log book to mark off driving hours and competencies. Wear comfortable shoes.
    </p>


    
    <h2 style="font-size: calc(2.25em + 1vmin); font-weight: lighter; margin: 0; font-weight: bold; ">
      <br>
      <i>How many lessons will I need?</i>
    </h2>

    <p style="font-size: calc(2em + 1vmin);text-align: justify; text-justify: inter-word;">
      This varies widely depending on the individual. Practice is vitally important to making progress between lessons, and everybody naturally learns at a different pace. Our instructors tailor each lesson to your learning needs and will let you know how you are going.
    </p>



    <h2 style="font-size: calc(2.25em + 1vmin); font-weight: lighter; margin: 0; font-weight: bold; ">
      <br>
      <i>What times and days are lessons available?</i>
    </h2>

    <p style="font-size: calc(2em + 1vmin);text-align: justify; text-justify: inter-word;">
      Lessons are available 7 days a week and we will try to find a time to suit you.
    </p>



    <h2 style="font-size: calc(2.25em + 1vmin); font-weight: lighter; margin: 0; font-weight: bold; ">
      <br>
      <i>Should I learn in an automatic or manual?</i>
    </h2>

    <p style="font-size: calc(2em + 1vmin);text-align: justify; text-justify: inter-word;">
      South Australia currently does not distinguish between a manual and automatic licence, so from that point of view there is no difference. If you plan to drive a manual on your probationary licence, we suggest that you do wait until you have a level of driving confidence first. Automatic vehicles are easier to drive because you do not have to worry about a clutch or gears, so you will likely require fewer lessons in an automatic.
    </p>

        

    <h2 style="font-size: calc(2.25em + 1vmin); font-weight: lighter; margin: 0; font-weight: bold; ">
      <br>
      <i>How long does each lesson go for?</i>
    </h2>

    <p style="font-size: calc(2em + 1vmin);text-align: justify; text-justify: inter-word;">
      Lessons are for 60 minutes or 90 minutes.
    </p>


    <h2 style="font-size: calc(2.25em + 1vmin); font-weight: lighter; margin: 0; font-weight: bold; ">
      <br>
      <i>If I fail my VORT how long before I can take the test again?</i>
    </h2>

    <p style="font-size: calc(2em + 1vmin);text-align: justify; text-justify: inter-word;">
      If you fail your VORT test (receive less than 90%) you must wait 14 days before you can take the test again. You must book your driving test a minimum of 3 full days before the date of the test.
    </p>


  </div>



</main>


<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>