<!DOCTYPE html>
<html lang="en">
<head>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<link rel="stylesheet" type="text/css" href="main.css"/>




<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<script type="text/javascript">
  var image1=new Image()
  image1.src="student1.jpg"

  var image2=new Image()
  image2.src="student2.jpg"

  var image3=new Image()
  image3.src="student5.jpg"

  var image4=new Image()
  image4.src="student7.jpg"

  var image5=new Image()
  image5.src="student8.jpg"

  var image6=new Image()
  image6.src="student12.jpg"

  var image7=new Image()
  image7.src="student13.jpg"

  var image8=new Image()
  image8.src="student3.jpg"
</script>  




  <%- include('../partials/head'); %>
</head>

<header>
  <%- include('../partials/header'); %>
</header>

<body style="background-color:black;">

<main>
  <div class="jumbotron intro-jumbotron text-center" style="position:relative;">

      <div id="box">
        <h1 style="font-size: calc(3em + 1vmin); font-weight: bold;">
          <br>
          Book a lesson today!
        </h1>
        <br>
        <br>
        <h2 style="font-size: calc(2em + 1vmin); font-weight: 400;"> 
          By calling Gene on: <u>0404 886 153</u>
      </div>
  </div>

  <div class="jumbotron mycustom-jumbotron text-center mx-auto" style="padding: 10px;">
      <h1 style="font-size: calc(3em + 1vmin); font-weight: bold;">
        Welcome
      </h1>
      <p style="font-size: calc(2em + 1vmin);">
        When you learn drive with One Way Driving School you will have a friendly, patient Certificate IV and TAE Qualified Driving Instructor.
      </p>

      <a href="https://adtasa.com.au/find-a-instructor/875/gene-perkovic/" target="_blank">
        <img class="img-responsive" style="text-align:center; height: 12rem; width: 12rem;" src="logo2.png">
      </a>
      <p style="font-size: calc(2em + 1vmin);">
        One Way Driving School is a friendly driving school that provides enjoyable, high quality driving lessons to the people of the Western suburbs of Adelaide. Lessons are conducted in a modern, fully air conditioned vehicle with dual controls for maximum safety.
      </p>


  </div>

  <div class="jumbotron mycustom-jumbotron text-center mx-auto" style="padding: 10px;">
    <h1 style="font-size: calc(3em + 1vmin); font-weight: bold;">
      Some Happy Students
    </h1>

    <div class="item1" style="padding-top: 20px;">
      <img class="img-responsive mycustom-jumbotron" name=slide style="text-align:center; height: 580px; width: auto;" src="services1.jpg">
    </div>

    <script>
      //variable that will increment through the images
      var step=1
      function slideit(){
      //if browser does not support the image object, exit.
      if (!document.images)
      return
      document.images.slide.src=eval("image"+step+".src")
      if (step<8)
      step++
      else
      step=1
      //call function "slideit()"every 5 seconds
      setTimeout("slideit()",5000)
      }
      slideit()
    </script>


  </div>


</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>
</body>
</html>