<!DOCTYPE html>
<html lang="en">
<head>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<link rel="stylesheet" type="text/css" href="main.css"/>




<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<style>

</style>

  <%- include('../partials/head'); %>
</head>


<header>
  <%- include('../partials/header'); %>
</header>


<body style="background-color:black;">

<main>



  <div class="jumbotron mycustom-jumbotron text-center mx-auto" style="position:relative; margin-top: 155px;">
    <h1 style="font-size: calc(3em + 1vmin); font-weight: bold;">
      Feeling nervous, worried or anxious about your child driving?
    </h1>

    <h2 style="font-size: calc(2.5em + 1vmin); font-weight: lighter; margin: 0;">
      <br>
      <i>At One Way Driving School we know just how you feel!</i>
    </h2>

      <p style="font-size: calc(2em + 1vmin);text-align: justify; text-justify: inter-word;">
      <br>
      It’s natural to be anxious about this new phase of your child’s life. There are plenty of media reports about crashes involving young people, and you might worry about the high risk of danger when young people get behind the wheel.
      </p>
      <p style="font-size: calc(2em + 1vmin);text-align: justify; text-justify: inter-word;">
      But at One Way Driving School, we're here to teach young drivers the correct ways of driving which will make your child a smart, safe and confident driver.
      </p>
      <p style="font-size: calc(2em + 1vmin);text-align: justify; text-justify: inter-word;">
      So please don't hesitate to call and ask me some questions before your childs lesson, and if you're not comfortable enough to let them drive on their own; it is completely fine for you to sit in the back seat whilst the lesson commences.
      <br>
      </p>

  </div>



</main>


<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>